<div>
    <div class = "container">
        <div class="row">
            <div class="col-sm-1" style="text-align: center">
                <a href="http://www.twitter.com/unshapedadrian" target="_blank">
                    <img class="buttonImg img-thumbnail" align="middle" src="images/Twitter_logo_blue.png"/>
                </a>
            </div>
            <div class="col-sm-1" style="text-align: center">
                <a href="http://www.youtube.com/unshapedadrian" target="_blank">
                    <img class="buttonImg img-thumbnail" align="middle" src="images/YouTube-social-icon_red_24px.png"/>
                </a>
            </div>
            <div class="col-sm-1" style="text-align: center">
                <a href="http://www.twitch.tv/unshapedadrian" target="_blank">
                    <img class="buttonImg img-thumbnail" align="middle" src="images/GlitchIcon_PurpleonWhite.png"/>
                </a>
            </div>
            <div class="col-sm-9 text-end">Copyright unshapedAdrian 2021, I wrote this with Visual Studio Code</div>
        </div>
    </div>
</div>