@inherits LayoutComponentBase
<!--<div class="page">-->
    <header>
        <br />
        <div class="container">
            <div class="d-grid gap-3">
                <div class="card card-body bg-white col-sm-12">
                    <div class="mynavbar">
                        <NavMenu />
                    </div>
                </div>
            </div>
        </div>   
    </header>

    <body>
        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </body>

    <footer>
        <div class="container pt-10">
            <Footer />
        </div>
    </footer>
<!--</div>-->
