<div class="container">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="images/Channel_Icon_small.png" alt="" width="24" height="24">
            </a>
            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>                
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="games">
                            <span class="oi oi-monitor" aria-hidden="true"></span> Games
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link " href="blog">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Blog
                        </NavLink>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More unshaped Stuff
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">PC Rig</a></li>
                            <li><a class="dropdown-item" href="qualitycalc">Quality Calculator</a></li>
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Steam</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
